.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  padding: 16px;
}

mat-toolbar {
  --mat-toolbar-standard-height: 56px;

  justify-content: space-between;
}

[watermark] {
  padding: 0 16px;
  border: 1px solid var(--mat-divider-color)
}
