:host ::ng-deep {
  .gui-field-label {
    width: 90px;
  }
}

mat-toolbar {
  --mat-toolbar-standard-height: 56px;

  justify-content: space-between;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: calc(100% - var(--mat-toolbar-standard-height));
  padding: 16px;
}

main {
  padding: 16px;
  border: 1px solid var(--mat-divider-color);
}

p {
  margin-top: 0;
}

img {
  position: absolute;
  top: 0;
  left: 0;
}
