/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/azure-blue.css';
@import '@ng-matero/extensions/prebuilt-themes/azure-blue.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}
